body{
	background-color: white;
}
.what, #nvm, #orgin, #outbreak, #dog #giselle{
	border: solid 5px pink;
	padding: 40px;
	margin: 10px;
	background-color: black;
	color:white;
}
#pic, #omg, #evolution, #god, #cat #venegas{
	float:right;
}
#nav_bar{
	background-color: pink;
}

.rotate {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.h1 {
	text-align: center;
	border-style: solid; color: pink;
	background: black;
}
