body{
	background-color: white;
}
.what, #nvm, #orgin, #outbreak, #dog #giselle{
	border: solid 5px pink;
	padding: 40px;
	margin: 10px;
	background-color: black;
	color:white;
}
#pic, #omg, #evolution, #god, #cat #venegas{
	float:right;
}
#nav_bar{
	background-color: pink;
	border:solid  2px black;
	border-radius: 6px;
}