
#links{
	border: solid;
	border-width: 3.7px;
	border-radius: 5px;
	background-color: white;
}

nav{
	background: white;
}

#bodyhi {
	background-color: rgb(128,0,0);
	font-family: 'Crimson Pro', serif;
}

#girl{

	/*  background-color:rgb(128,0,0); /*added by Salvador */
	font-family: 'Crimson Pro', serif;
}
h1{
	text-decoration: underline;
	text-align: center;
	color: white;
}

#blue{
	font-style: italic;
	text-align: center;
	color: white;
}
#rico{
	color: white;
	font-style: italic;
	text-align: center;
}

#question{
	text-decoration: underline;
}
h1{
	text-align: center;
}

#top {
	text-align: left;
}

