#links{
	border: solid;
	border-width: 3px;
	border-radius: 5px;
	background-color: white;
}
body {
	background-color:rgb(128,0,0);
	font-family: 'Crimson Pro', serif;
}

#girl{
	text-decoration: underline;
	text-align: center;
	color: white;
}

#blue{
	font-style: italic;
	text-align: center;
	color: white;
}
#rico{
	color: white;
}

#question{
	text-decoration: underline;
}